<div class="sticky-container">
    <ul class="sticky">
      <!--  <li>
            <img src="images/facebook-circle.png" width="32" height="32">
            <p><a href="https://www.facebook.com/programacionnet" target="_blank">Like Us on<br>Facebook</a></p>
        </li>
        <li>
            <img src="images/twitter-circle.png" width="32" height="32">
            <p><a href="https://twitter.com/noprog" target="_blank">Follow Us on<br>Twitter</a></p>
        </li>-->
        <li>
            <img src="../../../assets/iconos/info.svg" width="32" height="32">
            <p><strong> Esta es la página de </strong></p>
            <p><strong>{{info}}</strong></p>
        </li>
        
    </ul>
</div>
