.container{
    margin: auto;
    width: 100%;
 }
h5{
     background-color: rgb(212, 214, 163);
 }
 .btn {
 
     font-size: 15px;
     letter-spacing: 4px;
     font-weight: 600;
     color: #ffffff;
     background: #CC9973;
     border: none;
     border-radius: 8px;
     cursor: pointer;
     font-family: cocogose;
 }
 .boton{
     margin: auto;
     text-align: center;
 
 }
 button:hover{
     -webkit-transform:scale(1.1);transform:scale(1.1);
     background-color: #44522b;
 }
 .nohaymascota{
     background-color: #E9BB97;
     width: 60%;
     margin: auto;
     border-radius: 30px;
 }
 pre{
     font-size: 28px;
     font-family: cocogose;
 }
 .card{
     border-radius: 30px;
     background-color: #E9BB97;
 }