<div *ngIf="mascota.length == 0" >
    <div class="nohaymascota mt-5 mb-5">
        <p class="text-center texto">Ups! Parece que de momento 
no tienes ninguna mascota registrada</p>
        <h3 class="text-center">¿Quieres registrar a tu pequeño amigo?</h3>
        <div class="boton">
            <button class="btn mt-4 mb-4" type="button" routerLink="/areasocios/registromascota">REGISTRAR NUEVA MASCOTA</button>
        </div>
    </div>
</div>





<div class="container row" >
    <div class="card text-center col-lg-3 col-md-6 col-sm-12 col-xs-12 mt-2 m-2" *ngFor="let pet of mascota">
        <img src="../../../assets/img/mimascotapng.png" class="card-img-top" alt="imagen png de una ilustración de un gato y un perro">
        <div class="card-body">
            <p class="card-title">{{pet.nombre}}</p>
            <p class="card-text">{{pet.raza}}</p>
            <p class="card-text">{{pet.pelaje}}</p>
            <p class="card-text">{{pet.especie}}</p>
            <p class="card-text">{{pet.sexo}}</p>
        </div>
    </div>
</div>

<app-ubicacion info="MI MASCOTA"></app-ubicacion>



<div class="boton">
    <button class="btn mt-4 mb-4" type="button" routerLink="/areasocios/opciones">Regresar a Opciones</button>
</div>
