
<h1 class="mt-3 text-center " ><strong>¿Por qué Dogtor?</strong></h1>
<app-ubicacion info="SOBRE NOSOTROS"></app-ubicacion>
<div class="container-fluid mt-4">
    <div class="row">
      <div class="imagenNosotros col-lg-6">
        <img id="imagenes" src="../../assets/img/enfermedog.png" alt="imagen de un perro con un disfraz de enfermero">
      </div>
        <div class="texto col-lg-5 ">
            <p class="mt-5">Lo que define a nuestra clínica veterinaria es la pasión y 
                la vocación de los miembros de nuestro equipo. Si unimos 
                esos aspectos a los años de experiencia de nuestros veterinarios, 
                podemos decirte que tu mascota no estará en mejores manos que 
                las de nuestro equipo.</p>
              <i class="fa fa-paw fa-3sx " style="color: #7d8350; display: inline-block;"></i><span><strong>  Atención personalizada</strong> </span> <br><br>
              <i class="fa fa-user fa-3sx" style="color: #7d8350; display: inline-block;"></i><span><strong>  Equipo multidisciplinario</strong> </span>  <br><br>
              <i class="fa fa-clock fa-2sx" style="color: #7d8350; display: inline-block;"></i><span><strong>  Cuenta con nosotros las 24 horas</strong> </span>  <br><br>
        </div>

    <h2 class="sobredogtor  mt-4 text-center"><strong>Nuestro Equipo</strong></h2>
    <div class="row">
    <div class="card col-lg-3 col-md-3 col-sm-12 mt-4" style="width: 18rem;">
      <img src="../../assets/img/veterinario.jpeg" class="card-img-top" alt="Carlos Vilches, auxiliar veterinario de nuestra clínica">
      <div class="card-body">
        <h5 class="card-title">Carlos Vilches</h5>
        <p id="trabajo">Auxiliar Veterinario</p>
        <a href="#" class="btn btn-primary" style="background-color: #D6B094 ;">Contácta conmigo</a>
      </div>
    </div>

    <div class="card col-lg-3 col-md-3 col-sm-12 mt-4 " style="width: 18rem;">
      <img src="../../assets/img/cristina.jpg" class="card-img-top" alt="Cristina Blanco, veterinaria de nuestra clínica">
      <div class="card-body">
        <h5 class="card-title">Cristina Blanco</h5>
        <p id="trabajo">Veterinaria</p>
        <a href="#" class="btn btn-primary" style="background-color: #D6B094 ;">Contácta conmigo</a>
      </div>
    </div>
    
    <div class="card col-lg-3 col-md-3 col-sm-12 mt-4" style="width: 18rem;">
      <img src="../../assets/img/peluquera.jpeg" class="card-img-top" alt="Andrea Romero, peluquera de nuestra clínica">
      <div class="card-body">
        <h5 class="card-title">Andrea Romero</h5>
        <p id="trabajo">Peluquera </p>
        <a href="#" class="btn btn-primary" style="background-color: #D6B094 ;">Contácta conmigo</a>
      </div>
    </div>
    

    </div>
    
        





    </div>
    <h2 class="sobredogtor  mt-4 text-center "><strong>Un poco sobre DOGtor</strong></h2>
    <!-- Galería -->
    <div class="row mt-4">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <img
            src="../../assets/img/gal2.jpeg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Imagen de la operación de un gato"
          />
      
          <img
            src="../../assets/img/gal6.jpeg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Imagen de nuestra clínica"
          />
        </div>
      
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="../../assets/img/gal1.jpeg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Imagen de uno de nuestros clientes perrunos"
          />
      
          <img
            src="../../assets/img/gal5.jpeg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Imagen de la vacunación de uno de nuestros clientes gatunos"
          />
        </div>
      
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="../../assets/img/gal7.jpeg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Imagen de uno de nuestros clientes perrunos siendo atendido en nuestra clínica"
          />
      
          <img
            src="../../assets/img/gal4.jpeg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Ecografía a una de nuestras clientas perrunas"
          />
        </div>
      </div>
      
</div>



