h1{
    background-color: #D3B094;
}
#imagenes{
    width: 60%;
}
#mapa{
    width: 70%;
    margin: auto;
}
.imagenNosotros{
    text-align: center;
}
.sobredogtor{
    background-color: #D3B094;
}
p, i{
    font-size: 20px;
}

.card{
    text-align: center;
    background-color: #78755F;
    color: white;

}
a{
    border-color: #D6B094;
}
#trabajo{
    font-size: 15px;
}