<!--<div class="loading-cat" *ngIf="mostrar">
  <div class="body"></div>
  <div class="head">
    <div class="face"></div>
  </div>
  <div class="foot">
    <div class="tummy-end"></div>
    <div class="bottom"></div>
    <div class="legs left"></div>
    <div class="legs right"></div>
  </div>
  <div class="hands left"></div>
  <div class="hands right"></div>
</div>
CARGADOR DE GATO-->


<h1 class="mt-3 text-center text-white"><strong>SOBRE NOSOTROS</strong></h1>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="texto col-lg-6 ">
            <p class="mt-5">Lo que define a nuestra clínica veterinaria es la pasión y 
                la vocación de los miembros de nuestro equipo. Si unimos 
                esos aspectos a los años de experiencia de nuestros veterinarios, 
                podemos decirte que tu mascota no estará en mejores manos que 
                las de nuestro equipo.</p>
            <ul>
                <li>Atencíon personalizada</li>
                <li>Equipo multidisciplinar</li>
                <li>Cuenta con nosotros las 24 horas</li>
            </ul>
        </div>
        <div class="imagenNosotros col-lg-6">
            <img id="imagenes" src="../../assets/img/enfermedog.png" alt="imagen de un perro con un disfraz de enfermero">
        </div>
    </div>
    <h2 class="sobredogtor text-center mt-4  text-white">UN POCO SOBRE DOGtor</h2>
    <!-- Galería -->
    <div class="row mt-4">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <img
            src="../../assets/img/gal2.jpeg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Imagen de la operación de un gato"
          />
      
          <img
            src="../../assets/img/gal6.jpeg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Imagen de nuestra clínica"
          />
        </div>
      
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="../../assets/img/gal1.jpeg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Imagen de uno de nuestros clientes perrunos"
          />
      
          <img
            src="../../assets/img/gal5.jpeg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Imagen de la vacunación de uno de nuestros clientes gatunos"
          />
        </div>
      
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="../../assets/img/gal7.jpeg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Imagen de uno de nuestros clientes perrunos siendo atendido en nuestra clínica"
          />
      
          <img
            src="../../assets/img/gal4.jpeg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Ecografía a una de nuestras clientas perrunas"
          />
        </div>
      </div>
      <h2 class="sobredogtor text-center mt-4  text-white">DONDE ESTAMOS</h2>
      <div class="row">
        <div class="col-6">
          <img id="mapa" src="../../assets/img/mapa.png" alt="">
        </div>
        <div class="col-6">
          <p>kerflrekmfrf</p>
          <p>rekmvlrkcmvrff</p>

        </div>

      </div>
</div>



