h1{
    background-color: #D3B094;
}
#imagenes{
    width: 60%;
}
#mapa{
    width: 70%;
    margin: auto;
}
.imagenNosotros{
    text-align: center;
}
.sobredogtor{
    background-color: #D3B094;
}
p, i{
    font-size: 15px;
}

.card{
    text-align: center;
    margin: auto;
    background-color: #798368;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    border-radius: 70px;

}
.card:hover{
    border-color: #D3B094;
    border-width: 5px;
}
.card-img-top{
    width: 100%;
    border-radius: 70px;
    border-bottom-left-radius: 0px;
}
a{
    border-color: #D6B094;
    border-radius: 50px;
    color: black;
}
#trabajo{
    font-size: 15px;
    font-style: normal;
}