
<app-ubicacion info="CITA PREVIA"></app-ubicacion>
<div class="formulariocita container-fluid row">
    
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-3">
        <h1 id="logintexto"><strong>Cita Previa</strong></h1>
        <p>¿Necesitas que atendamos a tu mascota?</p>
        <p>Rellena los siguientes campos</p>
        <form class="citaprevia" [formGroup]="citaPrevia" (ngSubmit)="realizarCita()" >
            <div class="form-group">
                <label for="mascota" class="text-white"><i class="fa fa-paw" aria-hidden="true"></i> Selecciona para quién quieres la cita:</label><br><br>
                <select name="mascota" formControlName="mascota">
                    <option value={{pet.chip}} *ngFor="let pet of mascotas">{{pet.nombre}}</option> 
                </select>
            </div><br>
            <div class="form-group">
                <label for="fecha" class="text-white"><i class="fa fa-time"></i>Selecciona una fecha</label><br><br>
                <input type="datetime-local" name="fecha" id="fecha" formControlName="fecha"/>
            </div><br>
            <div class="btn">
                <button class="button" type="submit">Pedir Cita</button>
            </div>
        </form><br><br>
        
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 divimg">
        <img src="../../../assets/img/veterinariopng.png" alt="">
    </div>
    
</div>
