<div class="formulariologin container">
    <h1 id="logintexto"><strong>Registro</strong></h1>
    <p>¿Quiéres formar parte de nuestra manada?</p>
    <p>¡Únete!</p>
    <form [formGroup]="miFormulario" (ngSubmit)="hacerRegistro()" class="login row">
        <div class="col-lg-6">
            <input type="email" class="form-control" formControlName="email" placeholder="Email..." required><br>
            <input class="mt-3" type="password" class="form-control" formControlName="contrasenia" placeholder="Contraseña..." required><br>
            <input class="mt-3" type="text" class="form-control" formControlName="nombre" placeholder="Nombre..." required><br>
            <input class="mt-3" type="text" class="form-control" formControlName="apellidos" placeholder="Apellidos..." required><br>
        </div>
        <div class="col-lg-6">
            <input  type="text" class="form-control" formControlName="dni" placeholder="DNI..." required><br>
            <input class="mt-3" type="text" class="form-control" formControlName="telefono" placeholder="Teléfono..." required><br>
            <input class="mt-3" type="text" class="form-control" formControlName="direccion" placeholder="Dirección..." required><br>
            <input class="mt-3" type="text" class="form-control" formControlName="cuenta_bancaria" placeholder="Cuenta bancaría..." required><br>
            <button class="mt-3 btn text-white text-center" type="submit">REGÍSTRAME</button>
        </div>
        
    </form>
</div>
