.formulariologin{
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
   /** background-color: #D3B094;*/
    border-radius: 20px;
    color: white;
    background-image: url("../../../assets/img/perrorecorte.jpeg");
    background-size: cover;

}
input{
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: rgba(255, 255, 255, 0.555) ;
}
button{
    background-color: #c98c47;
    border-color: #c98c47;
}
button:hover{
    background-color: #925c1f;
    border-color: #925c1f;
}
#logintexto{
    background-color: rgba(224, 181, 125, 0.397) ;
}