.formulariocontacto{
    width: 60%;
    height: 20%;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #e9bb97;
    background-size: cover;

}
.iconos{
    font-size: 7px;
    color: #44522b;
}
.formulario{
    width: 60%;
    height: 20%;
    margin: auto;
    margin-bottom: 90px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 20px;
    color: white;
    background-color: #e9bb97;
    background-size: cover; 
}
input, textarea{
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #CC9973;
    color: #ffffff;
    border-color: white;
}
::placeholder { 
  color: rgb(255, 255, 255); 
}
.button {
    min-width: 150px;
    min-height: 50px;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 600;
    color: #ffffff;
    background: #858062;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: cocogose;
    }
.button:hover{
    -webkit-transform:scale(1.1);transform:scale(1.1);
    background-color: #44522b;
}
.cartero{
    margin-top: 35%;
        width: 100%;
    }
.mapa{
    width: 90%;
}
pre{
    font-family: lemonmilk;
}

@media screen and (min-width: 300px) and (max-width: 698px){

    .formulariocontacto{
        width: 100%;
    }
    .formulario{
        width: 100%;
    }
    p, pre{
        font-size: 24px;
    }
}