.logotipo{
    width: 90px;
}
.logotipo:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
}
.navbar{
    background-color:rgb(145, 170, 103);
}
.footer{
    background-color:rgb(145, 170, 103) ;
}
