.logotipo{
    width: 150px;
}
.logotipo:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
}
.navbar{
    background-color: #9CA07E;
}
.footer{
    background-color:#9CA07E;
    position:relative;
    width: 100%;
}
.redesSociales{
    width: 20px;
}
.enlace {
    color: white;
    text-decoration: none;
    margin: 30px;
  }
.enlace:hover {
    color: brown;
}


/** Para que el footer se mantenga fijado al final de la página en tablets y móviles*/
@media screen and (min-width: 300px) and (max-width: 1200px){
    .footer {
        position:absolute;
    }
}
