<div class="enlaces container-fluid mt-5 ">
    <div class="row text-center">
      <div class="col-lg-4 col-md-12">
        <img src="../../../assets/img/gato1.jpeg" alt="">
        <!--<i class="fas fa-user fa-5x" style="color: #7d8350;"></i><br>-->
        <strong><p class="textoenlaces">Acceder a mis Datos</p></strong>
      </div>
      <div class="col-lg-4 col-md-12">
        <img src="../../../assets/img/perro1.jpeg" alt="">
        <!--<i class="fa fa-paw fa-5x" style="color: #7d8350;"></i><br>-->
        <strong><p class="textoenlaces">Acceder a mis Mascotas</p></strong>
      </div>
      <div class="col-lg-4 col-md-12">
        <a routerLink="registromascota"><img src="../../../assets/img/gato.jpeg" alt="">
        <!--<i class="fa fa-plus fa-5x" style="color: #7d8350;"></i><br>-->
        <strong><p class="textoenlaces">Registrar nueva Mascota</p></strong></a>
      </div>
    </div>
  </div>

