<app-ubicacion info="O P C I O N E S"></app-ubicacion>
<div class="enlaces container-fluid mt-5 ">
    <div class="row text-center">
      <div class="col-lg-4 col-md-12">
        <a class="enlaces" routerLink="/areasocios/misdatos" ><img src="../../../assets/img/misdatos1.jpeg" alt="">
        <!--<i class="fa fa-plus fa-5x" style="color: #7d8350;"></i><br>-->
        <strong><p class="textoenlaces">Acceder a mis Datos</p></strong></a>
      </div>
      <div class="col-lg-4 col-md-12">
        <a class="enlaces" routerLink="/areasocios/mimascota" ><img src="../../../assets/img/mimascota1.jpeg" alt="">
        <!--<i class="fa fa-plus fa-5x" style="color: #7d8350;"></i><br>-->
        <strong><p class="textoenlaces">Acceder a mis Mascotas</p></strong></a>
      </div>
      <div class="col-lg-4 col-md-12">
        <a class="enlaces" routerLink="/areasocios/registromascota" ><img src="../../../assets/img/addmascota.jpeg" alt="">
        <!--<i class="fa fa-plus fa-5x" style="color: #7d8350;"></i><br>-->
        <strong><p class="textoenlaces">Registrar nueva Mascota</p></strong></a>
      </div>
      
    </div>
  </div>


<!--
  <div class="card" style="width:500px">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image">
    <div class="card-img-overlay">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Some example text.</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>-->

  <!--
  <div class="grid">
    <figure class="effect-sadie">
      <img src="../../../assets/img/misdatos1.jpeg" alt="img02"/>
      <figcaption>
        <h2>Holy <span>Sadie</span></h2>
        <p>Sadie never took her eyes off me. <br>She had a dark soul.</p>
        <a href="#">View more</a>
      </figcaption>			
    </figure>
  </div>-->

