img{
    width: 79%;
}
img:hover{
	color: #5e5e34;
	-webkit-transform:scale(1.1);transform:scale(1.1);
}
.enlaces{
    margin: auto;
    text-decoration: none;
}
.enlaces:visited{
    color: black;
}
p{
    font-family: cocogose;
}
.footer {
    position:relative !important;
}
