<app-ubicacion info="O P C I O N E S"></app-ubicacion>



<div class="enlaces container-fluid mt-5 mb-5 ">
    <div class="row text-center">
      <div class="col-lg-4 col-md-12">
        <a class="enlaces" routerLink="/areasocios/misdatos" >
        <strong><p class="textoenlaces">ACCEDER A MIS DATOS</p></strong>
        <img src="../../../assets/img/misdatos1.jpeg" 
          alt="imagen de un chico con su perro en brazos"></a>
      </div>
      <div class="col-lg-4 col-md-12">
        <a class="enlaces" routerLink="/areasocios/registromascota" >
        <strong><p class="textoenlaces">REGISTRAR NUEVA MASCOTA</p></strong>
        <img src="../../../assets/img/addmascota.jpeg" alt="perro de raza carlino/pug sentado "></a>
      </div>
      <div class="col-lg-4 col-md-12">
        <a class="enlaces" routerLink="/areasocios/mimascota" >
        <strong><p class="textoenlaces">ACCEDER A MIS MASCOTAS</p></strong>
        <img src="../../../assets/img/mimascota1.jpeg" 
          alt="imagen de una mano sosteniendo una patita de perro"></a>
      </div>
      
      
    </div>
  </div>

