<app-ubicacion info="MIS  DATOS"></app-ubicacion>

<div class="texto text-center">
    <h1><strong>Mis Datos</strong></h1>
</div>

<div class="container-fluid text-center row mb-5" >

    <div class="foto">
        <img src="../../../assets/img/misdatosfoto.png" alt="">
    </div>

    <div class="datos">

        <div class="table-responsive mt-3">
            <table class="table table-borderless">
                <tr>
                    <td>Nombre</td>
                    <td class="p radio1">{{nombre}}</td>  
                </tr>
                <tr>
                   <td>Apellidos</td> 
                   <td class="p">{{apellidos}}</td>
                </tr>
                <tr>
                    <td>Teléfono</td>
                    <td class="p">{{telefono}}</td>
                </tr>
                <tr>
                    <td>DNI</td>
                    <td class="p">{{dni}}</td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td class="p radio2">{{email}}</td>
                </tr> 
            </table>
        </div>
    </div>

</div>


<div class="text-center mb-5">
    <app-hijo (emitter)="eventohijo($event)"></app-hijo>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" 
                aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" style="width: 28%;" >
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-center">{{mensajehijo}}</h4>
            </div>
            <div class="modal-body">
                <app-editar-datos></app-editar-datos>
            </div>      
        </div>
    </div>
</div>