<app-ubicacion info="REGISTRAR MASCOTA"></app-ubicacion>

<div class="formulariologin container row mb-5 mt-3">
    <div class="col-6 mt-2">
        <h1 id="logintexto"><strong>Registra a tu mascota</strong></h1>
        <p>¿Quieres que tu mejor amigo forme parte de nuestra manada?</p>
        <p> ¡Regístralo aquí!</p>
        <img src="../../../assets/img/perropng129.png" alt="">
    </div>
    
    <div class="col-6 mt-2 mb-2">
        <form [formGroup]="miMascota" (ngSubmit)="hacerRegistro()" class="login row">
            <div class="col-lg-12">
                <input type="email" class="form-control" formControlName="nombre" placeholder="Nombre..." required><br>
                <input class="mt-3" type="text" class="form-control" formControlName="especie" placeholder="Especie..." required><br>
                <input class="mt-3" type="text" class="form-control" formControlName="pelaje" placeholder="Pelaje..." required><br>
                <input class="mt-3" type="text" class="form-control" formControlName="raza" placeholder="Raza..." required><br>
                <label for="sexo" class="inputSexo">Sexo:</label><br>
                <label for="valor1">Hembra</label>
                <input class="mt-3" type="radio"  value="hembra" formControlName="sexo" id="valor1" required><br>
                <label for="valor2">Macho</label>
                <input class="mt-3" type="radio"  value="macho" formControlName="sexo" id="valor2" required><br>
                <label for="valor3">Otro</label>
                <input class="mt-3" type="radio"  value="otro" formControlName="sexo" id="valor3" required><br>
                

                <button class="mt-5 btn text-white text-center" type="submit">
                    REGISTRAR MI MASCOTA
                </button>
            </div>
        </form>
    </div>
</div>
