.formulariologin{
    width: 60%;
    margin: auto;
    text-align: center;
   /** background-color: #D3B094;*/
    border-radius: 20px;
    color: white;
    background-size: cover;
    background-color: #FAE4CF;

}
img{
    width: 50%;
}
input{
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #FAE4CF;
    border-color: #5E5E34;
}
::placeholder { 
    color: #5E5E34; 
  }
.inputSexo, label{
    color: #5E5E34; 
}

button {
    min-width: 40px;
    min-height: 20px;
    font-size: 15px;
    letter-spacing: 4px;
    font-weight: 600;
    color: #ffffff;
    background-color: #CC9973;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: cocogose;
    }
button:hover{
    -webkit-transform:scale(1.1);transform:scale(1.1);
    background-color: #44522b;
}
#logintexto{
    color: #5E5E34;
}
p{
    color: #5E5E34;
}

/*tablets*/
@media screen and (min-width: 700px) and (max-width: 1200px){
    .formulariologin{
        width: 100%;
    
    }
    

}


/*móviles*/
@media screen and (min-width: 300px) and (max-width: 698px){

    .formulariologin{
        width: 100%;
    
    }
}