
<div class="formulariologin container">
    <h1 id="logintexto"><strong>Registra a tu mascota</strong></h1>
    <p>¿Quiéres que tu mejor amigo forme parte de nuestra manada?</p>
    <p>¡Regístralo!</p>
    <form [formGroup]="miMascota" (ngSubmit)="hacerRegistro()" class="login row">
        <div class="col-lg-12">
            <input type="email" class="form-control" formControlName="nombre" placeholder="Nombre..." required><br>
            <input class="mt-3" type="text" class="form-control" formControlName="especie" placeholder="Especie..." required><br>
            <input class="mt-3" type="text" class="form-control" formControlName="pelaje" placeholder="Pelaje..." required><br>
            <input class="mt-3" type="text" class="form-control" formControlName="raza" placeholder="Raza..." required><br>
            <label for="sexo" class="inputSexo">Sexo:</label>
            <input class="mt-3" type="radio"  value="hembra" formControlName="sexo" required>Hembra<br>
            <input class="mt-3" type="radio"  value="macho" formControlName="sexo" required>Macho<br>
            <input class="mt-3" type="radio"  value="otro" formControlName="sexo" required>Otro<br>

            <button class="mt-3 btn text-white text-center" type="submit">
                REGISTRAR MI MASCOTA
            </button>
        </div>
    </form>
</div>
