<app-ubicacion info="REGISTRAR MASCOTA"></app-ubicacion>

<div class="formulariologin container row mb-5 mt-3">
    <div class="col-6 mt-2">
        <h1 id="logintexto"><strong>Registra a tu mascota</strong></h1>
        <p>¿Quieres que tu mejor amigo forme parte de nuestra manada?</p>
        <p> ¡Regístralo aquí!</p>
        <img src="../../../assets/img/perropng129.png" alt="imagen de un perro de raza corgi galés sentado">
    </div>
    
    <div class="col-6 mt-2 mb-2">
        <form [formGroup]="miMascota" (ngSubmit)="hacerRegistro()" class="login row">
            <div class="col-lg-12">
                <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre..." required><br>
                <span class="form-text text-danger" *ngIf="miMascota.controls['nombre'].errors && miMascota.controls['nombre'].touched">Debes introducir un nombre válido</span>

                <input class="mt-3" type="text" class="form-control" formControlName="especie" placeholder="Especie..." required><br>
                <span class="form-text text-danger" *ngIf="miMascota.controls['especie'].errors && miMascota.controls['especie'].touched">Debes introducir una especie válida</span>

                <input class="mt-3" type="text" class="form-control" formControlName="pelaje" placeholder="Pelaje..." required><br>
                <span class="form-text text-danger" *ngIf="miMascota.controls['pelaje'].errors && miMascota.controls['pelaje'].touched">Debes introducir un pelaje válido</span>

                <input class="mt-3" type="text" class="form-control" formControlName="raza" placeholder="Raza..." required><br>
                <span class="form-text text-danger" *ngIf="miMascota.controls['raza'].errors && miMascota.controls['raza'].touched">Debes introducir una raza válida</span><br>

                <label for="sexo" class="inputSexo">Sexo:</label><br>
                <label for="valor1">Hembra</label>
                <input class="mt-3" type="radio"  value="hembra" formControlName="sexo" id="valor1" checked><br>
                <label for="valor2">Macho</label>
                <input class="mt-3" type="radio"  value="macho" formControlName="sexo" id="valor2" ><br>
                <label for="valor3">Otro</label>
                <input class="mt-3" type="radio"  value="otro" formControlName="sexo" id="valor3" ><br>
                <span class="form-text text-danger" *ngIf="miMascota.controls['sexo'].errors && miMascota.controls['sexo'].touched">Debes marcar una de las opciones</span>
                

                <button class="mt-5 btn text-white text-center" type="submit" [disabled]="miMascota.invalid">
                    REGISTRAR MI MASCOTA
                </button>
            </div>
        </form>
    </div>
</div>
