body{
    background-color: rgb(209, 216, 198);
}
@font-face {
    font-family: cocogose;
    src: url(../src/assets/fuentes/cocogose.ttf);
  }

h1, h2{
    font-family: cocogose;
}
p, li{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
