body{
    background-color: #999966; /**color WEB SEGURO*/
}
@font-face {
    font-family: cocogose;
    src: url(../src/assets/fuentes/cocogose.ttf);
  }
  @font-face {
      font-family: lemonmilk;
      src: url(../src/assets/fuentes/LEMONMILK-Light.otf);
  }

h1, h2{
    font-family: cocogose;
}
p, li{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
