@font-face {
    font-family: cocogose;
    src: url(../../assets/fuentes/cocogose.ttf);
  }

h1, p{
    font-family: cocogose;
    margin:auto;
}

.iniciopagina{
    background-color: #D3B094;
}

/**
div{
    border-width: 1px;
    border-style: solid;
    border-color: black;
}*/

#nombreclinica{
    padding-top: 100px;
}

.contenedor-img{
    text-align: center;
}
.enlacesLogo{
    width: 100px;
}
.enlaces{
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}

.imglogo{
    width: 65%;
    text-align:right;
}
#carrusel{
    width: 40%;
    margin: auto;
}


@media screen and (min-width: 300px) and (max-width: 1200px){
    .enlacesLogo{
        width: 100px;
    }
    #nombreclinica{
        padding-top: 1px;
        padding-bottom: 20px;
    }
    .imglogo{
        width: 40%;
        text-align:right;
    }
}
