#fotoportada{
    padding-top: 100px;
    width: 600px;
}
.contenedor-img{
    text-align: center;
}
.enlacesLogo{
    width: 100px;
}
.enlaces{
    width: 100%;
    padding-bottom: 100px;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
.imgCarrusel{
    width: 15%;
}
#carrusel{
    width: 50%;
    margin: auto;
}

@media screen and (min-width: 300px) and (max-width: 1200px){
    .enlacesLogo{
        width: 100px;
    }
}
