
h1, p{
    margin:auto;
}
.textoenlaces{
    color: #fafafa;
    font-size: 20px;
}
.iniciopagina{
    background-color: #7F7F4C;
}

#nombreclinica{
    padding-top: 100px;
    font-size: 80px;
}
#tuclinica{
    font-size: 25px;
}

.contenedor-img{
    text-align: center;
}
.enlacesLogo{
    width: 100px;
}
.enlaces{
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}

.imglogo{
    width: 100%;
    text-align:right;
}

#carrusel{
    width: 40%;
    margin: auto;
}












@media screen and (min-width: 700px) and (max-width: 1200px){
    .enlacesLogo{
        width: 100px;
    }
    #nombreclinica{
        padding-top: 2px;
        padding-bottom: 20px;
        font-size: 50px;
    }
    .imglogo{
        width: 60%;
        text-align:right;
    }
}

@media screen and (min-width: 300px) and (max-width: 698px){
    .enlacesLogo{
        width: 60px;
        margin-top: 30px;
    }
    .textoenlaces{
        font-size: 13px;
    }
    #carrusel{
        width: 70%;
        margin: auto;
    }
    .enlaces{
        padding-top: 1px;
    }
}

