
<div class="container-fluid iniciopagina">
    <div class="row text-center">
      <img class="imglogo" src="../../assets/img/encabezado.png" alt="logotipo de dogtor">
    </div>
</div>

<div class="tooltip">Hover over me
  <span class="tooltiptext">Tooltip text</span>
</div>
  <div class="enlaces container-fluid mt-5">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 ">
        <i class="fas fa-paw fa-5x" style="color: #FAE4CF;"></i><br>
        <strong style="font-size:40px; color: #FAE4CF;">4.634</strong>
        <strong><p class="textoenlaces">Clientes satisfechos</p></strong>
        
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
          <i class="fa fa-cut fa-5x" style="color: #FAE4CF;"></i><br>
          <strong style="font-size:40px; color: #FAE4CF;">1.245</strong>
          <strong><p class="textoenlaces">Arreglos</p></strong>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
          <i class="fa fa-medkit fa-5x" style="color: #FAE4CF;"></i><br>
          <strong style="font-size:40px; color: #FAE4CF;">780</strong>
          <strong><p class="textoenlaces">Operaciones realizadas</p></strong>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
          <i class="fa fa-bone fa-5x" style="color: #FAE4CF;"></i><br>
          <strong style="font-size:40px; color: #FAE4CF;">35.000</strong>
          <strong><p class="textoenlaces">Galletitas repartidas</p></strong>
       </div>
    </div>
  </div>

  <app-ubicacion info="I N I C I O"></app-ubicacion>
  

  <!--CARRUSEL-->
  <div id="carrusel" class="carousel slide mb-4" data-bs-ride="carousel" data-bs-interval="2000">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
      
      <!--números de urgencias-->
      <div class="carousel-inner">
        <div class="carousel-item active" >
          <img src="../../assets/img/ur.png" class="img-fluid" alt="imagen con el número de urgencias de la página, 954555555" >
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/te.png" class="img-fluid" alt="imagen con el número de urgencias de la página, 954555554">
        </div>
      </div>
      <!--Botones para desplazarse hacia delante y hacia atras-->
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>


  <div class="container-fluid mb-2">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div
          class="rounded"
        >
          <img
            src="../../assets/img/galeria6.jpeg" class="w-100" alt="imagen de un gato"
          />
        </div>
      </div>

      <div class="col-lg-4 col-md-12">
        <div
          class=" rounded"
        >
          <img
            src="../../assets/img/galeria4.jpg" class="w-100" alt="imagen de un perro en blanco y negro"
          />
        </div>
      </div>

      <div class="col-lg-4 col-md-12">
        <div
          class="  rounded"
        >
          <img
            src="../../assets/img/galeria5.jpeg" class="w-100" alt="imagen de un perro raza pug"
          />
        </div>
      </div>
    </div>
  </div>
  
