<!--IMAGEN PRINCIPAL-->
<div class="contenedor-img">
    <img class="img-fluid"src="../../assets/portada1.png" alt="">
</div>

<!--ENLACES CON ICONOS-->
<div class="enlaces row ">
    <div class="col-lg-4 col-md-12 col-sm-12">
    <a  href="https://www.fundacion-affinity.org/perros-gatos-y-personas/tengo-un-animal-de-compania/cuidados-basicos-de-tu-animal-de-compania" target="_blanck">
        <img  src="../../assets/heartbeat-solid.svg" class="enlacesLogo" alt="">
        <p class="">Cuidado de tu mascota</p>
    </a></div>
    <div class="col-lg-4 col-md-12 col-sm-12">
    <a  href="https://www.lookcan.es/" target="_blanck">
        <img  src="../../assets/paw-solid.svg" class="enlacesLogo" alt="">
        <p class="">Peluquería Canina</p>
    </a></div>
    <div class="col-lg-4 col-md-12 col-sm-12">
    <a  href="https://www.santevet.es/articulo/vacunas-del-perro?gclid=Cj0KCQiA9OiPBhCOARIsAI0y71DeQ4Ox32Inq39G7mM1FYSS-CBqGSONFvLXl4eZb7tY4WUVfqe76PcaApM5EALw_wcB" target="_blanck">
        <img  src="../../assets/syringe-solid.svg" class="enlacesLogo" alt="">
        <p class="">Vacunas para tu mascota</p>
    </a></div>
</div>

<!--CARRUSEL-->
