
<app-ubicacion info="INICIO DE SESIÓN"></app-ubicacion>
<div class="formulariologin container-fluid row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 " >
        <img src="../../../assets/img/gatito.png" alt="perro de raza corggie">
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-5 divformu">
        <h1 id="logintexto"><strong>Iniciar   Sesión</strong></h1>
        <p>Accede con tus datos de registro</p>
        <form class="login" (ngSubmit)="login()">
            <div class="form-group">
                <label for="email"><i class="fa fa-envelope"></i></label>
                <input type="text" name="email" id="email" placeholder="   Email" [(ngModel)]="email" />
            </div><br>
            <div class="form-group">
                <label for="contrasenia"><i class="fa fa-lock" aria-hidden="true"></i></label>
                <input type="password" name="contrasenia" id="contrasenia" placeholder="   Contraseña" [(ngModel)]="contrasenia" />
            </div><br>
            <div class="btn">
                <button class="button">Acceder</button>
            </div>
        </form><br><br>
        <p class="text-white">¿Aún no formas parte de nuestra manada?</p>
        <a routerLink="/quierosersocio"> Regístrate aquí</a>

    </div>
    
    
</div>



