
.formulariologin{
    width: 60%;
    height: 30%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 20px;
    color: #253013;
    background-color: #FAE4CF;
    background-size: cover;

}
label{
  color: #253013;
}
input{
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #FAE4CF;
    border-color: #253013;
}
::placeholder { 
  color: #253013; 
}
a{
  color: #253013;
  letter-spacing: 3px;
  font-size: 20px;
}

img{
  width: 100%;
}



#logintexto{
    /**color: #c9892b;*/
    color: #253013;
}


.button {
  min-width: 150px;
  min-height: 50px;
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: 600;
  color: #253013;
  background: #CC9973;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: cocogose;
  }

  .button:hover{
    -webkit-transform:scale(1.1);transform:scale(1.1);
    color: white;
    background-color: #253013;
  }
  p{
    color: #253013;
  }


/*móviles*/
@media screen and (min-width: 300px) and (max-width: 698px){

    .formulariologin{
        width: 100%;
    
    }
}