<div class="formulariologin container">
    <h1 id="logintexto"><strong>L O G I N</strong></h1>
    <p>Accede con tus datos de resgitro</p>
    <form class="login" (ngSubmit)="login()">
        <input  type="email" [(ngModel)]="email" name="email" id="email" placeholder="Email..."><br>
        <input class="mt-3" type="password" [(ngModel)]="password" name="contrasenia" id="contrasenia" 
        placeholder="Contraseña..."><br>
        <button class="mt-3 btn text-white" type="submit">ACCEDER</button>
    </form>
</div>
