

<div class="formulariologin container">
    <h1 id="logintexto"><strong>Iniciar Sesión</strong></h1>
    <p>Accede con tus datos de registro</p>
    <form class="login" (ngSubmit)="login()">
        <input class="form-control" type="email" [(ngModel)]="email" name="email" id="email" placeholder="Email..."><br>
        <input class="mt-3 form-control" type="password" [(ngModel)]="contrasenia" name="contrasenia" id="contrasenia" 
        placeholder="Contraseña..."><br>
        <div class="wrap">
            <button class="button">Acceder</button>
          </div>
    </form>
</div>

