h1{
    /**background-color: #D3B094;*/
    color: #FAE4CF;
    background-color: #858558;
}
.container{
    margin: auto;
}
.table{
    background-color: #E9BB97;
}
.fondo{
    background-color: #FAE4CF;
    
}